###################################
# macOS
###################################
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###################################
# Sublime Text
###################################
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
Package Control.last-run
Package Control.ca-list
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache
GitHub.sublime-settings

###################################
# Vim
###################################
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~

###################################
# SSH
###################################
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts

###################################
# Zsh
###################################
*.zwc
*.zwc.old
*zcompdump*
.zsh_history
.zsh_sessions
.zcalc_history
._zinit
.zinit_lstupd
zsdoc/
.directory_history

###################################
# Terraform
###################################
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
.terraformrc
terraform.rc

###################################
# Python
###################################
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
build/
dist/
eggs/
.eggs/
develop-eggs/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.coverage*
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/
.ipynb_checkpoints

# Virtual environments
.venv/
venv/
ENV/
env/

###################################
# Django
###################################
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

###################################
# PyCharm / JetBrains — FULL IDEA IGNORE
###################################
.idea/
*.iml
out/
cmake-build-*/
.idea_modules/
